<!DOCTYPE html>

<html>
  <head>
    <title>TradeQuestGaming</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Add Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
     <link rel="stylesheet" href="banner.css">
  </head>

  <body>
    <div>
    <nav class="navbar degradado" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong><i class="bi bi-house navletter"></i></strong>
        </a>
      </div>

      <div class="navbar-menu">
      <% if signed_in? %>
      <% if signed_in? %>
        <a class="navbar-item navletter" href="<%= products_path %>">Ver Productos</a>
        <a class="navbar-item navletter" href="<%= new_product_path %>">Subir Videojuego</a>
        <a class="navbar-item navletter" href="<%= rooms_path %>">Chats</a>
        <% end %>

      <% end %>
        <div class="navbar-end">
          <!-- banner -->
          <% if signed_in? %>
            <a class="navbar-item navletter" href="<%= solicitudes_path %>">Ver Solicitudes</a>
            <a class="navbar-item navletter" href="<%= edit_usuario_registration_path %>">Editar Perfil</a>
            <a class="navbar-item navletter" href="<%= destroy_usuario_session_path%>" data-turbo-method="delete">Cerrar Sesión</a>
            <figure class="image is-64x64">
              <img class="is-rounded" src="<%= current_usuario.avatar.try(:url) %>" style="max-width: 64px; max-height: 64px;">
            </figure>
          <% else %>
            <a class="navbar-item navletter" href="<%= new_usuario_session_path %>">Iniciar Sesión</a>
            <a class="navbar-item navletter" href="<%= new_usuario_registration_path %>">Registrarse</a>
          <% end %>
        </div>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>

        <!-- mensajes flash con Bulma -->
    <% flash.each do |message_type, message| %>
      <div class="notification <%= bulma_class_for(message_type) %>">
        <%= message %>
      </div>
    <% end %>

    <footer class="footer degradado">
      <div class="content has-text-centered ">
        <p class = "navletter">
          Grupo 48 - IIC2143 Ingenieria de Software - PUC
        </p>
      </div>
    </footer>

  </body>
</html>
