<div class="main-banner">
  <div class="form-container">
    <div class="product-form">

      <%= form_with(model: @product, local: true) do |form| %>

        <div class="field">
          <%= form.label :nombre, class: "label" %>
          <div class="control has-icons-left">
            <%= form.text_field :nombre, autofocus: true, class: 'input', style: "width: 50%"%>
          </div>
        </div>


        <div class="field">
          <%= form.label :descripcion, class: "label" %>
          <div class="control has-icons-left">
            <%= form.text_field :descripcion, class: "input", style:"width: 50%"%>
          </div>
        </div>

        <div class="field">
          <%= form.label :estado, class: "label" %>
          <div class="control has-icons-left">
          <%= form.text_field :estado, class: "input", style: "width: 50%" %>
          </div>
        </div>
        
        <div class="field">
          <%= form.label :categoria_id, class: "label" %> 
          <div class="control has-icons-left">
          <%= form.collection_select :categoria_id, @categorias, :id, :nombre, prompt: 'Selecciona una plataforma' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :plataforma_id, class: "label" %> 
          <div class="control has-icons-left">
          <%= form.collection_select :plataforma_id, @plataformas, :id, :nombre, prompt: 'Selecciona una plataforma' %>
          </div>
        </div>

        <div class="field">
          <%= form.label :image, class: "label" %> 
          <div class="control has-icons-left">
          <%= form.file_field :image%>
          </div>
        </div>

        <div class="actions">
          <div class="control">
          <%= form.submit "Actualizar", class: "button is-primary" %>
          </div>
        </div>
      <% end %>

      </div>
  </div>
</div>
