<p style="color: green"><%= notice %></p>
<br>

<div class="columns is-centered sub-banner">
  <div class="column is-6">
    <div class="box degradado">
      <h1 class="title is-4"><%= @product.nombre %></h1>
      <div class="content">
        <figure class="image">
          <img src="<%= @product.image.try(:url) %>" class="imagen-view">
        </figure>

        <div class="hero">
          <div class="hero body">
            <p class="subtitle-product">Plataforma</p>
            <p class="description"><%= @product.plataforma.nombre %></p>

            <br>

            <p class="subtitle-product">Descripción</p>
            <p class="description"><%= @product.descripcion %></p>

            <br>

            <p class="subtitle-product">Estado</p>
            <p class="description"><%= @product.estado %></p>

            <br>

            <p class="subtitle-product">Categoría</p>
            <p class="description"><%= @product.categoria.nombre %></p>
          </div>
        </div>

        <br>

        <div class="buttons is-centered">
          <% if usuario_signed_in? && @product.usuario == current_usuario %>
            <%= button_to "Eliminar Publicación", @product, method: :delete, class: "button is-primary" %>
            <%= link_to "Editar Publicacion", edit_product_path(@product), class: "button is-primary" %>
          <% else %>
            <%= link_to "Ver perfil del vendedor", vendedor_profile_product_path(@product), class: "button is-primary" %>
            <%= link_to "Realizar Solicitud", new_solicitud_path(@product), class: "button is-primary" %>
          <% end %>

          <%= link_to products_path, class: 'button is-primary' do %>
            Volver a productos
          <% end %>
        </div>

        <br>
      </div>
    </div>
  </div>
</div>
<br>



