<section class="section">
    <div class="container">
        <h1 class="title"> Productos </h1>
        <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Plataforma</th>
            <th>Acciones</th> </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td><%= product.usuario.nombre %></td>
                <td><%= product.nombre %></td>
                <td><%= product.categoria.nombre %></td>
                <td><%= product.plataforma.nombre %></td>
                <td>
                <%= button_to 'Eliminar', destroy_admin_product_path(product), method: :delete, form: { data: { confirm: 'Seguro?' } }, class: 'button is-danger' %>
                </td>
            </tr>
            <% end %>
        </tbody>
        </table>
        <a href="<%= admin_root_path %>" class="button is-light">Atrás</a>
    </div>
</section>