<html>
  <section class="section">
    <div class="container">
      <h1 class="title">Calificaciones hechas por <%= @usuario.nombre %></h1>
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuario Calificado</th>
            <th>Puntuación</th>
            <th>Mensaje</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @califications.each do |calification| %>
            <tr>
              <td><%= calification.id %></td>
              <td><%= calification.usuario_calificado.nombre %></td>
              <td><%= calification.puntuacion %></td>
              <td><%= calification.mensaje %></td>
              <td><%= calification.product.nombre %></td>
              <td><%= calification.created_at.to_fs(:short) %></td>
              <td>
                <%= button_to 'Eliminar', destroy_admin_calification_path(calification), method: :delete, form: { data: { turbo_confirm: 'Seguro?' } }, class: 'button is-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <a href="<%= admin_usuarios_path %>" class="button is-light">Atrás</a>
    </div>
  </section>
</html>