<section class="section">
  <div class="container">
    <h1 class="title">Usuario Registrados</h1>
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th class="has-text-centered">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.nombre %></td>
            <td><%= usuario.email %></td>
            <td>
              <div class="buttons is-centered">
              <%= button_to 'Listar Productos', admin_usuario_products_path(usuario), method: :get, class: 'button is-info' %>
              <%= button_to 'Listar Calificaciones', admin_usuario_califications_path(usuario), method: :get, class: 'button is-info' %>
              <% if usuario.locked_at.nil? %>
                <%= button_to 'Banear', ban_admin_usuario_path(usuario), method: :patch, class: 'button is-warning' %>
              <% else %>
                <%= button_to 'Desbanear', unban_admin_usuario_path(usuario), method: :patch, class: 'button is-success' %>
              <% end %>
              <%= button_to 'Eliminar', destroy_admin_usuario_path(usuario), method: :delete, form: { data: { turbo_confirm: 'Seguro?' } }, class: 'button is-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a href="<%= admin_root_path %>" class="button is-light">Atrás</a>
  </div>
</section>
