<h1 class = "letra">Chats</h1>

<div class = "msg-show is-light">
    <%= turbo_stream_from "rooms" %>
    <div id="rooms" >
      <%= render @rooms%>
    </div>
  </div>
  </br>

<div id="room_container" class="col-md-8 col-sm-8 bg-dark text-light header">
    <% if @single_room && (current_usuario&.id == @single_room.usuario_1_id || current_usuario&.id == @single_room.usuario_2_id) %>
      <div id="single_room" style="display: flex; flex-direction: column;"> 
      </br>  
      <h1 class = "letra"> <%= @single_room.name %></h1>
      </br>  
        <h4 class = "navletter"> <%= @usuario&.nombre %> </h4>
        <%= turbo_stream_from @single_room %>
        <div class="msg-show" id="messages" style="position: relative;"> 
          <%= render @messages %>
        </div>
        <div class= "formm-container" style="position: center;"> 
          <div class ="msg-show">
            <div class = "boton-msg" style="position: center;">
              <%= render 'layouts/new_message_form' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div> 